body {
    background: linear-gradient(to right, #77ee8b, #0ec02b);  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input[type=text], select {
    width: 100%;
    padding: 18px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    background-color: rgb(252, 249, 249);
    border-left: transparent;
    border-top: transparent;
    border-right: transparent;
    text-align: center;
  }
  
  input[type=submit] {
    width: 100%;
    background: linear-gradient(to right, #77ee8b, #0ec02b);
/*     color: rgb(252, 249, 249); */
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background: linear-gradient(to right, #def5e2, #6cca7b);;
    border-color: transparent;
  }
  input:focus {
    outline: 0;
  }
  .form {
      margin-top: 40px;
  }
  .wadah {
    color: black;
    border-radius: 5px;
    background-color: rgb(252, 249, 249);
    padding: 20px;
    width: 300px;
    height: 300px;
    margin: 200px auto;
  }